.aboutSection{
    margin-top: 8rem;
}
.section1{
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 20px ;
    line-height: 10px;
    color: white;
    
}
.section1>:nth-child(1){
    font-size: 40px;
    font-weight: 800;
}
.section1>:nth-child(2){
    font-size: 20px;

}
.section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section2>.para1{
    width: 70%;
}
.section2>.para1>p{
    font-size: 18px;
}
.section2>.part2>img{
    width: 43rem;
    box-shadow: 0px -4px 29px -4px #888888;
}
.section2>.part2{
    display: flex;
    margin-top: -32px;
    align-items: center;
    justify-content: center;
    width: 70%;
    line-height: normal;
    gap: 2rem;
    font-size: 18px;
}
.part3{
    width: 70%;
    margin-top: -29px;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */

}
.part3>.para3>p{
    font-size: 18px;
}

.section3{
    margin-top: 40px;
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 20px;
     justify-content: center;
}
.section3>.a1{
    display: flex;
    gap: 10px;
}
.section3>.a1>img{
    width: 22rem;
    box-shadow: 0px -4px 29px -4px #888888;
}
.section3>.a1>img:hover{
   cursor: pointer;
}
.section3>.a2>img{
    width: 22rem;
    box-shadow: 0px -4px 29px -4px #888888;
}
.section3>.a2>img:hover{
    cursor: pointer;
    box-shadow: 0px -4px 29px -4px #888888;
}
.section3>.a2{
    gap: 10px;
    display:flex;
}
.addDetails>iframe{
    width: 32rem !important;
}
.contact1{
    width: 70%;
}